$activeColor: #34ABE0;
$desktopMinWidth: 1025px;
$tabletMinWidth: 569px;

$desktopSidebarWidth: 240px;
$tabletSidebarOpenWidth: 240px;
$tabletSidebarClosedWidth: 104px;
$mobileSidebarOpenWidth: 192px;
$mobileSidebarClosedWidth: 12px;

$closingOpeningSidebarButtonWidth: 48px;
$closingOpeningSidebarButtonHeight: 106px;

$searchInputHeight: 52px;
$headlineHeightDesktop: 109px;
$headlineHeightTablet: 102px;
$headlineHeightMobile: 90px;