.game-page {
	--lvl-text-font-size: 30px;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;

	.back-button {
		position: fixed;
		width: 30px;
		height: 30px;
		background: url('../../images/back-arrow.png') no-repeat;
		background-size: contain;
		margin: 5px;
		border: none;
		cursor: pointer;
	}

	.current-lvl {
		display: flex;
		width: 100%;
		justify-content: center;
		font-size: var(--lvl-text-font-size);
	}

	.board {
		--board-margin: 10px;
		--board-size: calc((100vmin - var(--board-margin) * 2) - var(--lvl-text-font-size));
		width: var(--board-size);
		height: var(--board-size);
		margin: auto;
		border: 3px solid black;
		display: flex;
		flex-wrap: wrap;
	}
}