body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.table {
	border-collapse: collapse;
	border: 2px solid grey;
	margin: auto;
}

th,
td {
	border: 1px solid grey;
}

.add-form {
	padding: 1rem 0;
	margin: auto;
	max-width: 380px;
}

.add-form__input {
	min-width: 30px;
}

.error-field {
	color: red;
}

.persone__input_active {
	background: lightgray;
}

.persone__input_no-active {
	color: black;
}

.persone__input {
	max-width: 100px;
	margin: 0;
	border: none;
	outline: none;
}

.td-delete-button {
	padding: 0;
}
.delete-button {
	margin: 0;
	border: none;
	height: 100%;
	background: none;
	justify-content: center;
	text-align: center;
}

.changes-btn {
	border: none;
	background: none;
}

.changes-btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
