@import '../../../../styles/global-vars.scss';

$couponBackground: url(../../../../images/coupon-bcgnds/coupon-default-bcgnd.png) no-repeat;
$couponBackgroundShadow: url(../../../../images/coupon-bcgnds/coupon-default-bcgnd-shadow.png) no-repeat;
$couponActiveFrame: url(../../../../images/coupon-bcgnds/coupon-active-frame.svg)no-repeat;

$widthCouponDesktop: 346px;
$heightCouponDesktop: 161px;
$widthCouponTablet: 296px;
$heightCouponTablet: 144px;
$widthCouponMobile: 268px;
$heightCouponMobile: 130px;

$addWidthForShadowDesktop: 7px;
$addHeightForShadowDesktop: 9px;
$addWidthForShadowTablet: 8px;
$addHeightForShadowTablet: 12px;
$addWidthForShadowMobile: 7px;
$addHeightForShadowMobile: 13px;

$relativeTopDesktop: -3px;
$relativeLeftDesktop: -4px;
$relativeTopTablet: -2px;
$relativeLeftTablet: -4px;
$relativeTopMobile: -2px;
$relativeLeftMobile: -4px;

@media screen and (min-width: $desktopMinWidth) {
  .coupon {
    width: $widthCouponDesktop;
    height: $heightCouponDesktop;
    padding: 20px 0 0 20px;

    .shadow {
      width: calc(100% + #{$addWidthForShadowDesktop});
      height: calc(100% + #{$addHeightForShadowDesktop});
      left: $relativeLeftDesktop;
      top: $relativeTopDesktop;
    }

    .content {
      top: calc(-#{$heightCouponDesktop} - #{$addHeightForShadowDesktop});
    }

    .frame {
      top: calc(2 * -#{$heightCouponDesktop} - #{$addHeightForShadowDesktop});
    }

    .content,
    .frame {
      height: 100%;
    }
  }
}

@media screen and (min-width: $tabletMinWidth) and (max-width: $desktopMinWidth) {
  .coupon {
    width: $widthCouponTablet;
    height: $heightCouponTablet;
    padding: 20px 0 0 20px;

    .shadow {
      width: calc(100% + #{$addWidthForShadowTablet});
      height: calc(100% + #{$addHeightForShadowTablet});
      left: $relativeLeftTablet;
      top: $relativeTopTablet;
    }

    .content {
      top: calc(-#{$heightCouponTablet} - #{$addHeightForShadowTablet});
    }

    .frame {
      top: calc(2 * -#{$heightCouponTablet} - #{$addHeightForShadowTablet} / 2);
    }

    .content,
    .frame {
      height: calc(100% - 6px);
    }
  }
}

@media screen and (max-width: $tabletMinWidth) {
  .coupon {
    width: $widthCouponMobile;
    height: $heightCouponMobile;
    padding: 15px 0 0 15px;

    .shadow {
      width: calc(100% + #{$addWidthForShadowMobile});
      height: calc(100% + #{$addHeightForShadowMobile});
      left: $relativeLeftMobile;
      top: $relativeTopMobile;
    }

    .content {
      top: calc(-#{$heightCouponMobile} - #{$addHeightForShadowMobile});
    }

    .frame {
      top: calc(2 * -#{$heightCouponMobile} - #{$addHeightForShadowMobile} / 2);
    }

    .content,
    .frame {
      height: calc(100% - 6px);
    }
  }
}

.coupon {
  margin-left: auto;
  margin-right: auto;

  .content,
  .frame {
    width: 100%;
  }

  .content {
    display: flex;
  }

  .shadow {
    background: $couponBackgroundShadow;
  }

  .content {
    background: $couponBackground;
  }

  .frame {
    background: $couponActiveFrame;
  }

  .shadow,
  .content,
  .frame {
    background-size: contain;
    position: relative;
  }

  &.default {
    .frame {
      display: none;
    }
  }
}