@import '../../../../../fonts/my-fonts.scss';
@import '../../../../../styles/global-vars.scss';
$wineImage: url(../../../../../images/coupons-pictures/wine.png) no-repeat;
$beerImage: url(../../../../../images/coupons-pictures/beer.png) no-repeat;
$cakeImage: url(../../../../../images/coupons-pictures/cake.png) no-repeat;
$sushiImage: url(../../../../../images/coupons-pictures/sushi.png) no-repeat;
$fruitImage: url(../../../../../images/coupons-pictures/fruit.png) no-repeat;
$stakeImage: url(../../../../../images/coupons-pictures/stake.png) no-repeat;
$shawarmaImage: url(../../../../../images/coupons-pictures/shawarma.png) no-repeat;
$iceCreamImage: url(../../../../../images/coupons-pictures/ice-cream.png) no-repeat;

@media screen and (min-width: $desktopMinWidth) {
  .coupon {
    .content {
      .information {
        padding: 16px 0 16px 20px;

        .coupon-name {

          .title,
          .description {
            font-size: 16px;
          }
        }

        .bonus-type {
          .data {
            font-size: 36px;
          }

          .essence {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tabletMinWidth) and (max-width: $desktopMinWidth) {
  .coupon {
    .content {

      .information {
        padding: 15px 0 15px 18px;

        .coupon-name {

          .title,
          .description {
            font-size: 14px;
          }
        }

        .bonus-type {
          .data {
            font-size: 36px;
          }

          .essence {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tabletMinWidth) {
  .coupon {
    .content {
      .information {
        padding: 16px 0 16px 20px;

        .coupon-name {

          .title,
          .description {
            font-size: 12px;
          }
        }

        .bonus-type {
          .data {
            font-size: 28px;
          }

          .essence {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.coupon {
  .content {
    .information {
      width: 62%;
      box-sizing: border-box;

      .coupon-name {
        .title {
          font-family: RobotoBold, sans-serif;
          letter-spacing: 0.1em;
        }

        .description {
          font-family: RobotoRegular, sans-serif;
          opacity: 0.5;
        }
      }

      .bonus-type {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .data {
          font-family: RobotoMedium, sans-serif;
          color: #DF212D;
        }

        .essence {
          font-family: RobotoRegular, sans-serif;
          letter-spacing: 0.4em;
          opacity: 0.5;
        }
      }

      .coupon-name .title,
      .bonus-type {
        text-transform: uppercase;
      }

      .coupon-name,
      .bonus-type {
        height: 50%;
      }
    }


    .picture {
      width: 38%;

      &.wine {
        background: $wineImage;
      }

      &.beer {
        background: $beerImage;
      }

      &.cake {
        background: $cakeImage;
      }

      &.sushi {
        background: $sushiImage;
      }

      &.fruit {
        background: $fruitImage;
      }

      &.stake {
        background: $stakeImage;
      }

      &.shawarma {
        background: $shawarmaImage;
      }

      &.ice-cream {
        background: $iceCreamImage;
      }

      &.wine,
      &.beer,
      &.cake,
      &.sushi,
      &.fruit,
      &.stake,
      &.shawarma,
      &.ice-cream {
        background-size: contain;
      }
    }

    .picture {
      height: 100%;
    }
  }
}